<div *ngIf="notify" class="alert alert-success">
    {{ notify }}
  </div>
  <div class="home-container">
    <!-- Section avec une image de fond -->
    <div class="hero-section">
      <div class="overlay">
        <div class="content">
          <h1>Bienvenue dans notre Parapharmacie en ligne</h1>
          <p>
            Découvrez notre large gamme de produits de santé, de beauté et de
            bien-être. Nous proposons des solutions de qualité pour répondre à
            tous vos besoins.
          </p>
          <button class="btn btn-primary" routerLink="/products">Allez aux Produits</button>
        </div>
      </div>
    </div>
  </div>
  